.catalog{
font-family: @add-font;
color: @description-color;
font-size: @font-size-xs;
line-height: @line-height-s;
font-weight: @font-weight-normal;
}
.catalog__list{
  list-style-type: none;
}

.catalog__text {
  font-family: @main-font;
  color: @footer-text;
  font-size: @font-size-m;
  line-height: @line-height-l;
  text-transform: @text-transform-upper;
}
.catalog__text-promo{
  font-family: @add-font;
  color:@description-color;
}

