.cats-intro{
  display: block;
  text-align:center;
  background-image:url(../img/index/index-background.png);
  background-color: @background-accent;
  background-repeat: no-repeat;
}

.cats-intro__title {
  color:@title-color;
  font-family: @main-font;
  font-size: @font-size-title;
  line-height: @line-height-title;
  font-weight:@font-weight-normal;
  text-align:center;
}

 .cats-intro__text {
  color: @title-color;
  font-family: @main-font;
  font-size: @font-size-s;
  line-height: @line-height-subtitle;
  text-transform: @text-transform-upper;
  text-align:center;
  font-weight:@font-weight-normal;
}

.cats-intro__choose-program {
  font-family: @main-font;
  color: @title-color;
  background-color: @link-color;
  font-size: @font-size-s;
  line-height: @line-height-m;
  text-transform: @text-transform-upper;
  text-align:center;
  font-weight:@font-weight-normal;
}
