.example {
  background-color: @background-color;
}
.example__wrapper-row {
  .tablet-width({
    display: flex;
    justify-content: space-between;
  });
  .desktop-width({
    display: block;
    grid-area: weight;
  });
}

.example__inner {
  .desktop-width({
    display: grid;
    grid-template-areas: "title cat" "text cat" "weight cat";
    grid-template-columns: 1fr 1fr;
  });

}
.example__title {
  font-family: @main-font;
  font-weight: @font-weight-normal;
  font-size: @font-size-title;
  line-height: @line-height-xxl;
  text-align: center;
  color: @text-color;
  .desktop-width({
    grid-area: title;
  });
}

.example__text {
  color: @description-color;
  font-family: @add-font;
  font-size: @font-size-s;
  line-height: @line-height-m;
  font-weight: @font-weight-normal;
  .desktop-width({
    grid-area: text;
  });
}

.example__subtitle {
  color: @text-color;
  font-family: @main-font;
  font-size: @font-size-s;
  line-height: @line-height-l;
  font-weight: @font-weight-normal;
  text-align: center;
  text-transform: @text-transform-upper;
}

.example__container {
  .desktop-width({
    grid-area: cat;
  });
}

