.extra-list {
  list-style-type: none;
}

.extra-list__title {
  font-family: @main-font;
  font-weight: @font-weight-normal;
  font-size: @font-size-m;
  line-height: @line-height-s;
  text-transform: @text-transform-upper;
  color: @list-color;
}

.extra-list__description {
  font-family: @add-font;
  font-weight: @font-weight-normal;
  font-size: @font-size-s;
  line-height: @line-height-subtitle;
  color: @description-color;
}

.extra-list__btn {
  font-family: @main-font;
  color: @title-color;
  font-size: @font-size-m;
  line-height: @line-height-l;
  text-transform: @text-transform-upper;
  text-align: center;
}

.extra-list__wrapper {
  display: flex;
  justify-content: space-between;
  .tablet-width({
    display: flex;
    justify-content: end;
  });
  .desktop-width({
    display: flex;
    justify-content: space-between;
  });
}

.extra-list__item {
  .desktop-width({
    display: flex;
    justify-content: space-between;
  });
}
