.footer {
  .desktop-width({
    position: relative;
    height: 400px;
  });
}

.footer__text {
  color: @footer-text;
  font-family: @main-font;
  font-size: @font-size-m;
  line-height: @line-height-l;
  font-weight: @font-weight-normal;
  text-transform: @text-transform-upper;
}

.footer__address {
  color: @description-color;
  font-family: @add-font;
  font-size: @font-size-m;
  line-height: @line-height-l;
  font-weight: @font-weight-normal;
  .desktop-width({
    color: @description-color;
  });
}

.footer__inner {
  background-color: @title-color;
  display: flex;
  justify-content: space-between;
  .desktop-width({
    position: absolute;
    width: 570px;
    height: 201px;
    left: 110px;
    top: 95px;
    padding-left: 76px;
    padding-bottom: 51px;
    padding-right: 89px;
    padding-top: 62px;
    background-color: @title-color;
  });
  .tablet-width({
    background-color: @title-color;
  });
}

.footer__map {
  line-height: 0;
  iframe {
    width: 100%;
    max-width: 100%;
  }

}

.footer__inner-bottom {
  background-color: @border-color;
  .tablet-width({
    display: flex;
    justify-content: space-between;
    background-color: @border-color;
  });
  .desktop-width({
    background-color: @border-color;
  });
}

.footer__inner--form,
.footer__inner--catalog {
  background-color: @border-color;
  .tablet-width({
    background-color: @border-color;
  });
  .desktop-width({
    background-color: @title-color;
  });
}
