.header {
  display: block;
  font-family: @main-font;
  text-transform: @text-transform-upper;
  line-height: @line-height-l;
  color: @text-color;
  list-style-type: none;
  font-size: @font-size-l;
  font-style: @font-style-normal;
  text-align:center;
  }



