.intro__title {
  font-family: @main-font;
  color: @text-color;
  font-size: @font-size-title;
  line-height: @line-height-title;
  font-weight: @font-weight-normal;
}

.intro__text {
  font-family: @main-font;
  color: @text-color;
  font-size: @font-size-s;
  line-height: @line-height-subtitle;
  font-weight: @font-weight-normal;
  text-transform: @text-transform-upper;
}
