body {
  font-family: @main-font;
  font-size: @font-size-m;
  color: @description-color;
  line-height: @line-height-xl;
  margin: 0;
}

a {
  text-decoration: none;
}

*, *::before, *::after { box-sizing: border-box; }
