/* palette */
@green: #68B738;
@black: #000000;
@gray-light: #F2F2F2;
@textdark: #111111;
@light: #E6E6E6;
@white:#FFFFFF;
@special-dark-gray:#444444;
@special-light-gray: #EAEAEA;
@special-dark-black:#222222;
@very-special-gray: #E7E7E7;
/* semantic */
@text-color: @black;
@title-color: @white;
@background-accent: @green;
@link-color: @green;
@border-color: @gray-light;
@border-color-header: @light;
@border-color-form: @very-special-gray;
@description-color: @special-dark-gray;
@footer-text: @textdark;
@list-color: @special-dark-black;
@background-color: @special-light-gray;
@background-light: @gray-light;
/* font sizes */
@font-size-xs: 12px;
@font-size-s: 14px;
@font-size-m: 16px;
@font-size-l: 20px;
@font-size-xl: 24px;
@font-size-title: 36px;
/* line-heights */
@line-height-xs: 12px;
@line-height-s: 16px;
@line-height-m: 18px;
@line-height-l: 20px;
@line-height-xl: 24px;
@line-height-xxl: 40px;
@line-height-list: 26px;
@line-height-subtitle: 14px;
@line-height-title: 36px;
/* typography */
@main-font: "Oswald", "Arial", sans-serif;
@add-font: "Arial",sans-serif;

@text-transform-upper: uppercase;
@font-style-normal: normal;
/* font-weights */
@font-weight-normal: 400;
@font-weight-middle: 500;
@font-weight-large: 600;
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1440px;
